@import "./variables.scss";

.heading {
  display: none;
}

.container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;

  select {
    cursor: pointer;

    padding: 0.5rem;

    outline-color: $color-orange;
    border: 2px solid $color-light;
    border-radius: 0.5rem;

    font-family: $font-base;
    font-size: 0.8rem;
    color: $color-dark;
    text-transform: capitalize;
    transition: all 0.2s ease;

    &:disabled {
      color: $color-very-light;
      border-color: $color-very-light;
    }

    &:hover {
      border-color: $color-orange;
    }

    &:focus {
      border-color: $color-orange;
      outline: none;
    }
  }

  button {
    cursor: pointer;
    width: 3rem;
    background: none;
    outline-color: $color-orange;
    border: 2px solid $color-light;
    border-radius: 0.5rem;

    &:disabled {
      border-color: $color-very-light;
    }

    &:hover {
      border-color: $color-orange;
      background-color: $color-orange;
    }

    &:focus {
      border-color: $color-orange;
      outline: none;
    }

    .icon {
      color: $color-light;
      transition: all 0.2s ease;
    }

    &:disabled .icon {
      color: $color-very-light;
    }

    &:hover .icon {
      color: white;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    margin-top: 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: auto;
    padding: 0.5rem 1rem;

    background: none;
    border: 2px solid $color-light;
    border-radius: 0.5rem;

    font-family: $font-base;
    font-weight: 500;
    color: $color-light;
    transition: all 0.2s ease;

    &:hover {
      border-color: $color-orange;
      background-color: $color-orange;
      color: white;
    }

    &:disabled {
      border-color: $color-very-light;
      color: $color-very-light;
    }

    &:disabled:hover {
      background: none;
    }
  }
}

@media (min-width: 540px) {
  .container {
    justify-content: flex-end;
    gap: 1rem;

    select {
      font-size: 1rem;
    }
  }
}
