.nav {
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  height: 5rem;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e1e1e1;
  font-family: "Poppins", sans-serif;
}
.nav .left,
.nav .right {
  display: none;
}
.nav .logo {
  z-index: 100;
}
.nav .burger {
  cursor: pointer;
  z-index: 100;
  height: 1.5rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav .burger .burger_line {
  width: 2rem;
  height: 2px;
  background: #222222;
  transition: all 0.2s ease;
}
.nav .burger .active_top {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}
.nav .burger .active_bottom {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}
.nav .burger .active_middle {
  opacity: 0;
}

.mobile_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  padding: 5rem 2rem 2rem 2rem;
  background-color: white;
  transition: all 0.2s ease;
}
.mobile_content .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.mobile_content .top .nav_link {
  color: #222222;
  text-decoration: none;
}
.mobile_content .bottom .nav_link {
  color: #222222;
  text-decoration: none;
}
.mobile_content .bottom .user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mobile_content .bottom .user img {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #222222;
  border-radius: 0.5rem;
}
.mobile_content .bottom .user .logout {
  position: absolute;
  bottom: 100%;
  background-color: white;
  border: 1px solid #9e9e9e;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.mobile_content .bottom .user .logout button {
  cursor: pointer;
  display: inline-flex;
  gap: 1rem;
  background: none;
  border: none;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.hidden {
  top: 0;
  right: 100%;
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .mobile_content {
    display: none;
  }
  .logo {
    display: none;
  }
  .nav {
    z-index: 99;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    padding: 0 10rem;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    font-family: "Poppins", sans-serif;
  }
  .nav::before {
    display: none;
  }
  .nav .left {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
  .nav .right {
    position: relative;
    display: block;
  }
  .nav .right .user {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    background: none;
    border: none;
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }
  .nav .right .user img {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid #222222;
    border-radius: 0.5rem;
  }
  .nav .right .user .logout {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  .nav .right .user .logout button {
    cursor: pointer;
    display: inline-flex;
    gap: 1rem;
    background: none;
    border: none;
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }
  .nav .nav_link {
    text-decoration: none;
    color: #222222;
  }
  .nav .burger {
    display: none;
  }
}/*# sourceMappingURL=Nav.module.css.map */