@import "./variables.scss";

.nav {
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;
  width: 100%;
  // max-width: 1200px;

  background-color: white;
  border-bottom: 1px solid $color-very-light;

  font-family: $font-base;

  &::before {
    content: "PLACEHOLDER NAV";
  }

  .right {
    position: relative;

    .user {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      background: none;
      border: none;
      color: $color-dark;
      font-family: $font-base;
      font-size: 1rem;
      img {
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid $color-dark;
        border-radius: 0.5rem;
      }

      .logout {
        position: absolute;
        top: 100%;
        background-color: white;
        border: 1px solid $color-light;
        border-radius: 0.5rem;
        margin-top: 1rem;
        padding: 1rem;
        button {
          cursor: pointer;
          display: inline-flex;
          gap: 1rem;
          background: none;
          border: none;
          color: $color-dark;
          font-family: $font-base;
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    width: 100%;

    padding: 0 10rem;

    background-color: white;
    border-bottom: 1px solid $color-very-light;

    font-family: $font-base;

    &::before {
      display: none;
    }

    .left {
      display: flex;
      justify-content: space-between;

      width: 30%;
    }

    .nav_link {
      text-decoration: none;
      color: $color-dark;
    }

    .burger {
      display: none;
    }
  }
}
